body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 50%;
    margin: 0 auto;
}


.header-box {
    width: auto;
    height: 60px;
    margin: 0 auto;
    background: rgb(0, 132, 255) url(../img/pattern.png);
    background-size: contain;

}

.logo {
    width: 130px;
    height: 75px;
}

h1 {
    font-size:30px;
}

.title-undertext {
    font-size: small;
    margin-top: -20px;

}

.highlight-text {
    color:  rgb(0, 132, 255) ;
    
}

.tim-img-1 {
    width: 460px;
}

.tim-img-2 {
    width: 400px;
}

.img-desc {
    font-size: 8px;
    margin:0
}

.main-text-box {
    width: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    
}

thead {

    background-color: aqua;
    color: aliceblue;
}

.riga-1 {
    background-color: rgb(127, 178, 255);
}

.riga-3 {
    background-color: rgb(127, 178, 255); 
}
